{% extends "base.html" %}

{% block content %}

<div class="container my-5 h-[83vh] ">
    <h1 class="text-4xl font-bold mb-6">About Us</h1>

    <p class="text-lg mb-4">
        Welcome to our Practice Test Management System, where learning meets innovation. We are dedicated to providing a seamless and engaging quiz-taking experience for students and educators alike.
    </p>

    <p class="text-lg mb-4">
        Our platform offers dynamic quizzes with a wide range of subjects, ensuring a diverse learning environment. Whether you're a student looking to test your knowledge or an educator creating quizzes, we've got you covered.
    </p>

    <p class="text-lg mb-4">
        APSIT aspires to be a premier institute producing globally competent engineering
        professionals to contribute towards socio-economic growth of India.
            </p>
</div>

{% endblock content %}
