{% extends "base.html" %}

{% block content %}
  <div class="bg-gradient-to-r from-orange-500 to-pink-500 text-white py-12">
    <div class="container mx-auto text-center">
      <h1 class="text-4xl font-bold mb-4">Welcome, {{ request.user.username }}!</h1>
      {% if user_score %}
        <p class="text-lg text-gray-200 mb-6">Your last quiz score: {{ user_score }} out of 10</p>
      {% endif %}
    </div>
  </div>

  <div class="container mx-auto my-8">
    <h2 class="text-3xl font-semibold mb-8 text-center">Choose a Subject to Start Quiz:</h2>

    <div class="grid  grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      {% for subject in subjects %}
        <div class="relative overflow-hidden bg-white rounded-lg shadow-md transform hover:scale-105 transition-transform">
          <a href="{% url 'start_quiz' subject=subject.subject %}" class="block p-6">
            <div class="flex items-center">
              <i class="fas fa-book text-blue-500 text-3xl mr-2"></i>
              <div class="text-blue-500">{{ subject.subject }}</div>
            </div>
          </a>
          <div class="hidden absolute top-0 right-full p-4 bg-gradient-to-r from-orange-500 to-pink-500 text-white rounded-l-lg subject-info">
            <!-- Additional information about the subject can go here -->
            <!-- You can customize this part based on your requirements -->
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <script>
    const subjectInfoElements = document.querySelectorAll('.subject-info');

    subjectInfoElements.forEach(subjectInfo => {
      subjectInfo.parentNode.addEventListener('mouseover', () => {
        subjectInfo.style.display = 'block';
      });

      subjectInfo.parentNode.addEventListener('mouseout', () => {
        subjectInfo.style.display = 'none';
      });
    });
  </script>
{% endblock content %}
