<!-- quiz/quiz.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h1>Quiz Questions</h1>

    <form method="post" action="{% url 'submit_quiz' %}">
        {% csrf_token %}
        {% for question in questions %}
            <fieldset>
                <legend>{{ question.question }}</legend>
                {% for option in question.incorrect_answers %}
                    <label>
                        <input type="radio" name="question_{{ question.correct_answer }}" value="{{ option }}">
                        {{ option }}
                    </label><br>
                {% endfor %}
                <label>
                    <input type="radio" name="question_{{ question.correct_answer }}" value="{{ question.correct_answer }}">
                    {{ question.correct_answer }}
                </label><br>
            </fieldset>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html> -->
